.modal-dialog.modal-dialog-centered
{
    max-width: 900px;
}

.lightbox-bootstrap
{
    cursor: pointer;
}

.lightbox-bootstrap:hover
{
    transform: scale(1.03);
    transition: transform  0.5s ease-out;
}

@media only screen and (max-width: 730px) {
    .carousel-item img
    {
        height:200px;
    }
}
